.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.app-logo {
    width: 100px;
    height: 100px;
}

.nav-items {

}

.nav-items > ul {
    display: flex;
    list-style: none;
    margin-right: 10px;
}

.nav-items > ul > li {
    padding: 15px;
}

.search {
    padding: 10px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    width: 200px;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    background-color: #f0f0f0;
    cursor: pointer;
}

.res-card:hover {
    border: 1px solid black;
}

.res-logo {
    width: 100%;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    margin: 10px;
    height: 300px;
    width: 200px;
    background-color: #f0f0f0;
}

.image-container {
    height: 50%;
    width: 100%;
    overflow: hidden;
    display: flex;
    border-radius: 10px;
}

.auth-btn {
    cursor: pointer;
}

.search-res {
    margin: 10px;
}